.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  @apply font-sans;
}

body, #root {
  background-color: #000000;
}


/* neon morado-rosa */
.neon-text {
  color: #ffffff; /* color base morado */
  text-shadow:
    0 0 5px #da70d6,
    0 0 10px #ff69b4, /* rosa brillante */




    0 0 30px #da70d6;
  font-weight: bold;
}

.neon-text-card {
  color: #0bd1ce; /* color base morado */
  text-shadow:
    0 0 5px #043d8b,
    0 0 10px #69fff5, /* rosa brillante */




    0 0 30px #da70d6;
  font-weight: bold;
}

@keyframes scaleUp {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-scaleUp {
  animation: scaleUp 0.3s ease-out forwards;
}

/* Neon sutil para las tarjetas */


/* Neon para las imágenes */
.proyecto-img-neon {
  box-shadow: 0 0 5px #ff69b4, 0 0 10px #da70d6;
  transition: box-shadow 0.3s, transform 0.3s;
}

.proyecto-img-neon:hover {
  box-shadow: 0 0 10px #ff69b4, 0 0 20px #da70d6;
  transform: scale(1.05);
}

@keyframes fadeBounce {
  0%   { opacity: 0; transform: translateY(-20px); }
  50%  { opacity: 0.7; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeBounce {
  animation: fadeBounce 0.6s ease-out forwards;
}


/* Scrollbar para Chrome, Edge y Safari */
::-webkit-scrollbar {
  width: 5px;             /* ancho de la barra */
}

::-webkit-scrollbar-track {
  background: #1a0a2b;     /* fondo de la barra (oscuro) */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff00ff;     /* color neón rosa oscuro */
  border-radius: 8px;
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff33ff;     /* color más brillante al pasar el mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff00ff #1a0a2b; /* thumb y track */
}








